<html>
<head>
<link rel="stylesheet" href="views/textmp3.css" type="text/css">

    <script src="https://kit.fontawesome.com/172f2837bf.js" crossorigin="anonymous">
        </script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>

<body>


<%- navbar -%>
<h1>Utitaches</h1>
<p></p>

<div class="menu">
<a href="/textmp3"><i class="fas fa-file-audio"></i> Convertir du texte en Mp3</a> <br>
<a href="/translator"><i class="fas fa-language"></i> Traduire un texte</a><br>
<a href="/corrector"><i class="far fa-sticky-note"></i> Corriger un texte</a><br>
<a href="/markdowner"><i class="far fa-file-alt"></i> Mettre en page un texte</a>
</div>

<style>
:root {
    --primary: #008aff;
    --seconde: #0048ff;
    --back: #292b2e;
    --blanc: #fff; 
    --gris: #202225;

}

body {
font-family: 'Unbutu', sans-serif;
background: #2A2A2A;
}

.menu {
text-align: center;
}
.menu a {
    text-decoration: none;
    text-align: center;
    color: #fff;
 padding: 10px;
    background-color: dark-green;
}

.menu a:hover {
 background-color: #23272a;
 border-radius: 8px;
}

h1 {
color: #008aff;
text-align: center;
}
</style>
</body>
</html>