<%- navbar -%>
<form method="POST" action="/markdowned">
    
    Texte à mettre en page : <textarea name="text" placeholder="Entre le texte a mettre en page ici"></textarea>
    <input type="submit" value="Mettre en page">
</form>